@charset "UTF-8";
/*tamaños fuentes*/
/*funcion que devuelve el tamaño*/
/*funcion que devuelve el peso*/
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif !important;
  scroll-behavior: smooth; }

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1.6rem; }

a {
  text-decoration: none !important; }

.header {
  background-color: silver; }

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: silver;
  padding: 2rem; }
  .footer-link {
    padding-bottom: 2rem;
    text-align: center;
    text-decoration: none; }
    .footer-link:hover {
      cursor: pointer;
      color: blue; }
  .footer-list {
    list-style: none; }
  .footer-icon {
    color: white;
    padding: 0 1rem; }
    .footer-icon:hover {
      cursor: pointer;
      color: dodgerblue; }

header {
  padding: 0 2vw; }

.form-bar {
  display: flex;
  padding: 2vh 2vw;
  background-color: silver; }
  .form-bar input {
    width: 35%; }
  .form-bar select {
    width: 20%; }
  .form-bar button {
    border: 0;
    color: white;
    border-radius: 2px;
    background-color: goldenrod !important;
    width: 10%; }

.carousel {
  margin: 1vh 0; }

.carousel-item img {
  height: 85vh;
  object-fit: cover; }

.keypoints {
  padding: 5vh 2vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: 2rem;
  gap: 0;
  align-content: center; }
  .keypoints-title {
    text-align: center; }
  .keypoints-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    place-items: center; }
    .keypoints-column-icon {
      grid-area: 1 / 1 / 2 / 2;
      font-size: 6rem; }
    .keypoints-column-content {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding-right: 5rem; }
    .keypoints-column-title {
      text-align: center; }
    .keypoints-column-text {
      color: dodgerblue;
      font-size: 1rem;
      text-align: center; }
