@import './variables';
@import './mixin';
@import './base';
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_mixins.scss";

@import './layout/header';
@import './layout/navigation';
@import './layout/products';
@import './layout/footer';

@import './components/logo';
@import './components/heading';
@import './components/form-bar';
@import './components/carousel';
@import './components/keypoints';
@import './components/gallery.scss';
@import './components/reviews.scss';
